<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- <h1 class="mt-4 ">Nouvelle Personne</h1> -->
    <ol class="breadcrumb mb-4 text-center ">
      <li class="breadcrumb-item active " style="background-color: lightblue; border-radius: 2px; margin: 2px; padding: 5px;">
        Hello M/Mme MONGO SALOMON, il {{ currentTime | date: 'HH:mm' }} en ce jour du {{ currentDay | date: 'EEEE, dd MMMM yyyy' }}.
      </li>

    </ol>
    <div class="row justify-content-center">
      <!-- Horizontal Form -->
      <div class="card card-info col-md-8">
        <!-- form start -->



        <div class="container mt-5">
          <div class="card">
            <div class="card-header">
              <h4>Editer un nouveau Membre</h4>
            </div>
            <div class="card-body">
              <form [formGroup]="membreForm">
                <!-- (ngSubmit)="onSubmit()" -->
                <div class="row mb-3">
                  <!-- firstname -->
                  <div class="col-md-6">
                    <span>Nom</span>
                    <input type="text" formControlName="firstname" class="form-control" />
                    <div *ngIf="membreForm.controls['firstname'].invalid && membreForm.controls['firstname'].touched" class="text-danger">
                      <small *ngIf="membreForm.controls['firstname'].hasError('required')">Raison sociale est requise.</small>
                    </div>
                  </div>

                  <!-- Author -->
                  <div class="col-md-6">
                    <span>Auteur</span>
                    <input type="text" formControlName="author" class="form-control" />
                    <div *ngIf="membreForm.controls['author'].invalid && membreForm.controls['author'].touched" class="text-danger">
                      <small *ngIf="membreForm.controls['author'].hasError('required')">Auteur est requis.</small>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <!-- Prénom -->
                  <div class="col-md-6">
                    <span>Prénom</span>
                    <input type="text" formControlName="lastname" class="form-control" />
                    <div *ngIf="membreForm.controls['lastname'].invalid && membreForm.controls['lastname'].touched" class="text-danger">
                      <small *ngIf="membreForm.controls['lastname'].hasError('required')">Télélastname est requis.</small>
                    </div>
                  </div>

                  <!-- N° CNI ou Passport -->
                  <div class="col-md-6">
                    <span>N° CNI ou Passport</span>
                    <input type="id_card_number" formControlName="id_card_number" class="form-control" />
                    <div *ngIf="membreForm.controls['id_card_number'].invalid && membreForm.controls['id_card_number'].touched" class="text-danger">
                      <small *ngIf="membreForm.controls['id_card_number'].hasError('id_card_number')">id_card_number invalide.</small>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <!-- Tel1 -->
                  <div class="col-md-6">
                    <span>Tel1</span>
                    <input type="text" formControlName="phone" class="form-control" />
                    <div *ngIf="membreForm.controls['phone'].invalid && membreForm.controls['phone'].touched" class="text-danger">
                      <small *ngIf="membreForm.controls['phone'].hasError('required')">Personne de contact est requise.</small>
                    </div>
                  </div>

                  <!-- Matricule -->
                  <div class="col-md-6">
                    <span>Matricule</span>
                    <input type="matricule" formControlName="matricule" class="form-control" />
                    <div *ngIf="membreForm.controls['matricule'].invalid && membreForm.controls['matricule'].touched" class="text-danger">
                      <small *ngIf="membreForm.controls['matricule'].hasError('matricule')">matricule invalide.</small>
                    </div>
                  </div>

                </div>

                <div class="row mb-3">
                  <!-- Country -->
                  <!-- <div class="col-md-6">
                    <span>Quartier</span>
                    <select formControlName="id_quartier" class="form-control">
                      <option value="0" selected="">...
                      </option>
                      <option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</option>
                    </select>
                    <div *ngIf="membreForm.controls['country_id'].invalid && membreForm.controls['country_id'].touched" class="text-danger">
                      <small *ngIf="membreForm.controls['country_id'].hasError('required')">Pays est requis.</small>
                    </div>
                  </div> -->

                  <!-- City -->
                  <div class="col-md-6">
                    <span>Ville</span>
                    <select formControlName="city_id" class="form-control">
                      <!-- <option *ngFor="let city of city" [value]="city.id">{{ city.name }}</option> -->
                    </select>
                    <div *ngIf="membreForm.controls['city_id'].invalid && membreForm.controls['city_id'].touched" class="text-danger">
                      <small *ngIf="membreForm.controls['city_id'].hasError('required')">Ville est requise.</small>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <span>Annee</span>
                    <select formControlName="city_id" class="form-control">
                      <!-- <option *ngFor="let city of city" [value]="city.id">{{ city.name }}</option> -->
                    </select>
                    <div *ngIf="membreForm.controls['city_id'].invalid && membreForm.controls['city_id'].touched" class="text-danger">
                      <small *ngIf="membreForm.controls['city_id'].hasError('required')">Ville est requise.</small>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <!-- Tel -->
                  <div class="col-md-6">
                    <span>Tel2</span>
                    <input type="text" formControlName="phone" class="form-control" />
                    <div *ngIf="membreForm.controls['phone'].invalid && membreForm.controls['phone'].touched" class="text-danger">
                      <small *ngIf="membreForm.controls['phone'].hasError('required')">Personne de contact est requise.</small>
                    </div>
                  </div>

                  <!-- Email -->
                  <div class="col-md-6">
                    <span>Email</span>
                    <input type="text" formControlName="email" class="form-control" />
                    <div *ngIf="membreForm.controls['email'].invalid && membreForm.controls['email'].touched" class="text-danger">
                      <small *ngIf="membreForm.controls['email'].hasError('required')">Télélastname de contact est requis.</small>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">


                  <!-- father_name -->
                  <div class="col-md-6">
                    <span>Nom du Père</span>
                    <input type="text" formControlName="father_name" class="form-control" />
                  </div>
                   <!-- mother_name -->
                   <div class="col-md-6">
                    <span>Nom de la mère</span>
                    <input type="text" formControlName="mother_name" class="form-control" />
                  </div>
                </div>
                <!-- <div class="row mb-3"> -->
                  <!-- profession -->
                  <!-- <div class="col-md-6">
                    <span>Profession</span>
                    <input type="text" formControlName="profession" class="form-control" />
                  </div> -->
                   <!--Nombre D'enfants -->
                   <!-- <div class="col-md-6"> -->
                    <!-- <span>Nombre D'enfants</span>
                    <input type="text" formControlName="num_children" class="form-control" />
                  </div>
                </div> -->

                <div class="row mb-3">
                  <!-- Date de Naissance -->
                  <div class="col-md-6">
                    <span>Date de Naissance</span>
                    <input type="date" formControlName="birthday" class="form-control" />
                    <div *ngIf="membreForm.controls['birthday'].invalid && membreForm.controls['birthday'].touched" class="text-danger">
                      <small *ngIf="membreForm.controls['birthday'].hasError('required')">Personne de contact est requise.</small>
                    </div>
                  </div>

                  <!-- Lieu de Naissance -->
                  <div class="col-md-6">
                    <span>Lieu de Naissance</span>
                    <input type="text" formControlName="place_birth" class="form-control" />
                    <div *ngIf="membreForm.controls['place_birth'].invalid && membreForm.controls['place_birth'].touched" class="text-danger">
                      <small *ngIf="membreForm.controls['place_birth'].hasError('required')">Lieu de Naissance est requis.</small>
                    </div>
                  </div>
                </div>

                 <div class="row mb-3">
                  <!-- genre -->
                  <div class="col-md-6">
                    <span>Genre</span>
                    <select formControlName="genre" class="form-control">
                      <option value="N/A" selected="">
                        ...
                      </option>
                      <option value="MASCULIN">
                          MASCULIN
                      </option>
                      <option value="FEMININ">
                          FEMININ
                      </option>
                    </select>

                  </div>

                  <!-- marital_status -->
                  <!-- <div class="col-md-6">
                    <span>Situation Matrimoniale</span>
                    <select formControlName="marital_status" class="form-control">
                      <option value="N/A" selected="">
                        ...
                      </option>
                      <option value="CELIBATAIRE">
                          CELIBATAIRE
                      </option>
                      <option value="MARIÉ(E)">
                          MARIÉ(E)
                      </option>
                      <option value="VEUF(VE)">
                          VEUF(VE)
                      </option>
                    </select>
                    <div *ngIf="membreForm.controls['city_id'].invalid && membreForm.controls['city_id'].touched" class="text-danger">
                      <small *ngIf="membreForm.controls['city_id'].hasError('required')">Ville est requise.</small>
                    </div>
                  </div> -->

                  <div class="row mb-3">
                    <!-- Piece jointe -->
                    <div class="col-md-6">
                      <span>Piece jointe</span>
                      <input type="file" formControlName="attachment"  class="form-control" multiple />
                      <!-- (change)="onCaseSelected($event)" -->
                    </div>
                     <!--Nombre D'enfants -->
                     <div class="col-md-6">
                      <div class="col-md-6">
                        <span>Photo</span>
                        <input type="file" formControlName="attachment"  class="form-control" multiple />
                        <!-- (change)="onCaseSelected($event)" -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <!-- Submit Button -->
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-block">Editer le membre</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
      <!-- /.card -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<style>

</style>
