<div class="container-fluid">
  <h1 class="mt-4"><svg class="svg-inline--fa fa-calendar-alt fa-w-14 custom-icon" style="color: silver;"
      aria-hidden="true" focusable="false" data-prefix="far" data-icon="calendar-alt" role="img"
      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
      <path fill="currentColor"
        d="M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z">
      </path>
    </svg><!-- <i class=" far fa-calendar-alt" style="color: silver"></i> Font Awesome fontawesome.com --> Liste des
    Evènements</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"
      style="background-color: lightblue; border-radius: 2px; margin: 2px; padding: 5px;">
      Hello M/Mme, il est 10:58 en ce jour du Mardi 6 Aout 2024.
    </li>
  </ol>
  <!--                Main Body-->
  <div class="row">
    <div class="col-xl-12">
      <div class="card mb-4">
        <div class="card-header">
          <svg class="svg-inline--fa fa-scroll fa-w-20 custom-icon" aria-hidden="true" focusable="false"
            data-prefix="fas" data-icon="scroll" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"
            data-fa-i2svg="">
            <path fill="currentColor"
              d="M48 0C21.53 0 0 21.53 0 48v64c0 8.84 7.16 16 16 16h80V48C96 21.53 74.47 0 48 0zm208 412.57V352h288V96c0-52.94-43.06-96-96-96H111.59C121.74 13.41 128 29.92 128 48v368c0 38.87 34.65 69.65 74.75 63.12C234.22 474 256 444.46 256 412.57zM288 384v32c0 52.93-43.06 96-96 96h336c61.86 0 112-50.14 112-112 0-8.84-7.16-16-16-16H288z">
            </path>
          </svg><!-- <i class="fas fa-scroll"></i> Font Awesome fontawesome.com -->
          <b>L'ensemble des evenements.</b>
          <b>

            <!-- Nav pills -->
            <ul class="nav nav-pills" style="float: right;">
              <li class="nav-item">
                <a class="nav-link active  btn btn-success" (click)="navigateToForm()"
                  style="background-color: #28a745; color: white;">
                  <svg class="svg-inline--fa fa-plus-circle fa-w-16 small-icon" aria-hidden="true" focusable="false"
                    data-prefix="fas" data-icon="plus-circle" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512" data-fa-i2svg="">
                    <path fill="currentColor"
                      d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm144 276c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92h-92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z">
                    </path>
                  </svg><!-- <i class="fas fa-plus-circle"></i> Font Awesome fontawesome.com -->
                  Nouveau évènement
                </a>
              </li>
            </ul>
          </b>
        </div>
        <div class="card-body">
          <div class="well bs-component">
            <form class="form-horizontal">
              <fieldset>
                <div class="table-responsive">

                  <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">
                      <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length" id="dataTable_length"><label>Show <select name="dataTable_length"
                              aria-controls="dataTable"
                              class="custom-select custom-select-sm form-control form-control-sm">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option>
                            </select> entries</label></div>
                      </div>
                      <div class="col-sm-12 col-md-6">
                        <div id="dataTable_filter" class="dataTables_filter"><label>Search:<input type="search"
                              class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <table class="table table-bordered table-hover dataTable no-footer" id="dataTable" width="100%"
                          cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                          <thead>
                            <tr align="center" style="background-color: #dde9dd" role="row">
                              <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                aria-sort="ascending" aria-label="Titre: activate to sort column descending"
                                style="width: 35.1094px;">Titre</th>
                              <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                aria-label="Lieu: activate to sort column ascending" style="width: 31.0625px;">Lieu</th>
                              <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                aria-label="Nbre participants: activate to sort column ascending"
                                style="width: 89.5312px;">Nbre participants</th>
                              <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                aria-label="Coût: activate to sort column ascending" style="width: 35.6719px;">Coût</th>
                              <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                aria-label="Date bedut: activate to sort column ascending" style="width: 44.3906px;">
                                Date bedut</th>
                              <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                aria-label="Date fin: activate to sort column ascending" style="width: 35.2344px;">Date
                                fin</th>
                              <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                aria-label="Statut: activate to sort column ascending" style="width: 182px;">Statut</th>
                              <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                aria-label="Options: activate to sort column ascending" style="width: 59.3281px;">
                                Options</th>
                            </tr>
                          </thead>
                          <tbody>







                            <tr role="row" class="odd">
                              <td align="center" class="sorting_1"> Titre</td>
                              <td align="center">Lieu </td>
                              <td align="center">1 </td>
                              <td align="center">100 </td>

                              <td align="center">2023-12-15 </td>
                              <td align="center"> 2023-12-15 </td>

                              <td>

                                <a href="modifier_evenement.php?id=1" style=" width:200px;" class="btn btn-warning">En
                                  cours</a>
                              </td>

                              <td align="center" style="width: 18%">

                                <a class="btn btn-primary btn-sm">
                                  <!--  [routerLink]="[data.i_id,'view']" -->
                                  <i class="fa-solid fa-eye">
                                  </i>
                                </a>
                                <a class="btn btn-info btn-sm" (click)="navigateToFormEdit()">
                                  <!-- [routerLink]="['/projet/',projet.id, 'edit']" [routerLink]="[data.i_id,'edit']" -->
                                  <i class="fa-solid fa-edit">
                                  </i>
                                </a>
                                <a class="btn btn-danger btn-sm" (click)="confirmDelete(21)">
                                  <!-- (click)="deletePost(projet.id)" -->

                                  <i class="fa-solid fa-trash">
                                  </i>
                                </a>


                            </tr>
                            <tr role="row" class="even">
                              <td align="center" class="sorting_1"> Titrezdz</td>
                              <td align="center">dsd </td>
                              <td align="center">0 </td>
                              <td align="center">0 </td>

                              <td align="center">2023-12-19 </td>
                              <td align="center"> 2023-12-29 </td>

                              <td>

                                <a href="modifier_evenement.php?id=2" style=" width:200px;" class="btn btn-warning">En
                                  cours</a>
                              </td>

                              <td align="center" style="width: 18%">

                                <a class="btn btn-primary btn-sm">
                                  <!--  [routerLink]="[data.i_id,'view']" -->
                                  <i class="fa-solid fa-eye">
                                  </i>
                                </a>
                                <a class="btn btn-info btn-sm">
                                  <!-- [routerLink]="['/projet/',projet.id, 'edit']" [routerLink]="[data.i_id,'edit']" -->
                                  <i class="fa-solid fa-edit">
                                  </i>
                                </a>
                                <a class="btn btn-danger btn-sm" (click)="confirmDelete(21)">
                                  <!-- (click)="deletePost(projet.id)" -->

                                  <i class="fa-solid fa-trash">
                                  </i>
                                </a>
                              </td>

                            </tr>
                          </tbody>




                          <!-- <tfoot>
                                                  <tr class="bg-primary">
                                                  <th><p align="center">Nom</p></th>
                                                  <th><p align="center">Profession </p></th>
                                                  <th><p align="center">Quartier </p></th>
                                                  <th><p align="center">ville</p></th>
                                                  <th><p align="center">Transfert</p></th>
                                                  <th><p align="center">Options</p></th>
                                                  </tr>
                                              </tfoot> -->
                          <tbody></tbody>
                        </table>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to 2
                          of 2 entries</div>
                      </div>
                      <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                          <ul class="pagination">
                            <li class="paginate_button page-item previous disabled" id="dataTable_previous"><a href="#"
                                aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                            </li>
                            <li class="paginate_button page-item active"><a href="#" aria-controls="dataTable"
                                data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                            <li class="paginate_button page-item next disabled" id="dataTable_next"><a href="#"
                                aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">Next</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </fieldset>
            </form>

          </div>
        </div>
        <div class="card-footer">

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>

</div>
