<h2>Détails de l'événement</h2>
<div *ngIf="evenement">
  <p><strong>ID:</strong> {{ evenement.id }}</p>
  <p><strong>Titre:</strong> {{ evenement.titre }}</p>
  <p><strong>Auteur:</strong> {{ evenement.author }}</p>
  <p><strong>Lieu:</strong> {{ evenement.lieu }}</p>
  <p><strong>Coût:</strong> {{ evenement.cout }}</p>
  <p><strong>Date début:</strong> {{ evenement.date_debut }}</p>
  <p><strong>Date fin:</strong> {{ evenement.date_fin }}</p>
  <p><strong>Status:</strong> {{ evenement.status }}</p>
</div>
