.custom-icon {
  /* Couleur verte */
 font-size: 20px; /* Taille de l'icône, ajustez selon vos besoins */
 width: 1em;
 height: 1em;
}

/* bouton */
.small-icon {
  width: 35px;  /* Adjust the width */
  height: 35px;  /* Adjust the height */
}
a
{
  text-decoration: none;
  color: black;
}
.small-button {
  width: 17px;  /* Adjust the width */
  height: 17px;  /* Add margin for spacing between buttons */
}
