<div class="container mt-5">
  <div class="card shadow-sm">

    <div class="card-header d-flex justify-content-between align-items-center">
      <h4 class="card-title">Liste des Amendes</h4>
      <ng-container *ngIf=" user.role.name === 'secretaire general' || user.role.name === 'responsable administratif' || user.role.name === 'secretaire administrative' || user.role.name === 'administrateur'">
      <button class="btn btn-primary" [routerLink]="['/Closer/amendes/new']">Ajouter une Amende</button>
    </ng-container>
    </div>

    <!-- Barre de Recherche -->
    <div class="card-body">
      <input type="text" id="searchInput" class="form-control mb-3" placeholder="Rechercher une amende..." />
    </div>

    <div class="card-body p-0">
      <table class="table table-border table-striped custom-table mb-0" id="amendesTable">

        <thead class="table">
          <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">Date</th>
            <th scope="col">Auteur</th>
            <th scope="col">Objet</th>
            <th scope="col">Montant</th>
            <th scope="col">Membre</th>
            <th scope="col" class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let amende of amendes">
            <!-- <th scope="row">{{ amende.id }}</th> -->
            <td>{{ amende.fine_date }}</td>
            <td>{{ amende.author }}</td>
            <td>{{ amende.object }}</td>
            <td>{{ amende.amount | currency }} FCFA</td>
            <td>{{ getMembreName(amende.member_id) }}</td>
            <td class="text-center">
              <button class="btn btn-sm btn-outline-info me-2" [routerLink]="['/Closer/amendes/edit', amende.id]"><i class="fas fa-edit"></i>Éditer</button>
              <button class="btn btn-sm btn-outline-danger" (click)="deleteAmende(amende.id)"><i class="fas fa-trash"></i>Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Pagination -->
    <div class="card-footer d-flex justify-content-center">
      <button id="prevPage" class="btn btn-secondary me-2">Précédent</button>
      <span id="pageNumber" class="mt-2"></span>
      <button id="nextPage" class="btn btn-secondary ms-2">Suivant</button>
    </div>
  </div>
</div>

