
<!-- /* Main content */ -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <!-- <app-loading *ngIf="isLoading"/> -->
          <div class="col-12"  >
            <!-- *ngIf="!isLoading" -->
            <div class="card-header">
              <h3 class="card-title">Liste des Compagnies</h3>
              <a class="btn btn-primary btn-sm float-right"   [routerLink]="['/entreprise/create']">
                <!-- [routerLink]="['/projet/create']" -->
                Ajouter
              </a>
            </div>
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>author</th>
                    <th>company_type</th>
                    <th>email(s)</th>
                    <th>country_id </th>
                    <th>city_id</th>
                    <th>phone(s)</th>
                    <th>contact_person </th>
                    <th>contact_person_phone</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- /* Table content */ -->
                </tbody>
                <tfoot>
                  <tr>
                    <th>author</th>
                    <th>company_type</th>
                    <th>email(s)</th>
                    <th>country_id </th>
                    <th>city_id</th>
                    <th>phone(s)</th>
                    <th>contact_person </th>
                    <th>contact_person_phone</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

<script>
  $(document).ready(function() {
    $('#example1').DataTable();
    $('#example2').DataTable();
  });
</script>


