

<div class="container">

<div class="card shadow mb-4">
  <!-- Dropdown Card Example -->
  <div class="card shadow mb-4">
   <!-- Card Header - Dropdown -->
   <div
       class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
       <h6 class="m-0 font-weight-bold text-primary">Details personnels</h6>
       <div class="dropdown no-arrow">
           <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
           </a>
           <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
               aria-labelledby="dropdownMenuLink">
               <div class="dropdown-header">Action:</div>
               <a class="dropdown-item" [routerLink]="['/personnel']" routerLinkActive="router-link-active" >Retour</a>
               <!-- <a class="dropdown-item" href="#">Another action</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#">Something else here</a> -->
           </div>
       </div>
   </div>
   <!-- Card Body -->
   <div class="card-body" *ngIf="personnel">
     <p><strong>Nom:</strong> {{ personnel.lastname }}</p>
     <p><strong>Prénom:</strong> {{ personnel.firstname }}</p>
     <p><strong>Email:</strong> {{ personnel.email }}</p>
     <p><strong>Téléphone:</strong> {{ personnel.phone }}</p>
     <p><strong>Profession:</strong> {{ personnel.profession }}</p>
     <p><strong>Genre:</strong> {{ personnel.genre }}</p>
     <p><strong>Statut marital:</strong> {{ personnel.marital_status }}</p>
     <p><strong>Position:</strong> {{ personnel.position }}</p>
     <p><strong>Ville:</strong> {{ cityName }}</p>
     <p><strong>Pays:</strong> {{ countryName }}</p>
     <p><strong>Nom de la mere :</strong> {{ personnel.father_name }}</p>
     <p><strong>Nom du pere:</strong> {{ personnel.mother_name }}</p>
     <p><strong>Sexe:</strong> {{ personnel.genre }}</p>
     <p><strong>Type de contrat:</strong> {{ personnel.contract_type }}</p>
     <p><strong>Position:</strong> {{ personnel.position }}</p>
     <p><strong>Nombre d'enfant:</strong> {{ personnel.num_children }}</p>

   </div>
</div>
</div>
</div>
