<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- <h1 class="mt-4 ">Nouvelle Personne</h1> -->
    <ol class="breadcrumb mb-4 text-center ">
      <li class="breadcrumb-item active " style="background-color: lightblue; border-radius: 2px; margin: 2px; padding: 5px;">
        Hello M/Mme MONGO SALOMON, il {{ currentTime | date: 'HH:mm' }} en ce jour du {{ currentDay | date: 'EEEE, dd MMMM yyyy' }}.
      </li>

    </ol>
    <div class="row justify-content-center">
      <!-- Horizontal Form -->
      <div class="card card-info col-md-8">
        <!-- form start -->



        <div class="container mt-5">
          <div class="card">
            <div class="card-header">
              <h4>Créer une nouvelle Personne</h4>
            </div>
            <div class="card-body">
              <form [formGroup]="personnelForm" (ngSubmit)="onSubmit()">
                <div class="row mb-3">
                  <!-- firstname -->
                  <div class="col-md-6">
                    <span>Nom</span>
                    <input type="text" formControlName="firstname" class="form-control" />
                    <!-- <div *ngIf="personnelForm.controls['firstname'].invalid && personnelForm.controls['firstname'].touched" class="text-danger">
                      <small *ngIf="personnelForm.controls['firstname'].hasError('required')">Raison sociale est requise.</small>
                    </div> -->
                  </div>

                  <!-- Author -->
                  <div class="col-md-6">
                    <span>Auteur</span>
                    <input type="text" formControlName="author" class="form-control" />
                    <!-- <div *ngIf="personnelForm.controls['author'].invalid && personnelForm.controls['author'].touched" class="text-danger">
                      <small *ngIf="personnelForm.controls['author'].hasError('required')">Auteur est requis.</small>
                    </div> -->
                  </div>
                </div>

                <div class="row mb-3">
                  <!-- Prénom -->
                  <div class="col-md-6">
                    <span>Prénom</span>
                    <input type="text" formControlName="lastname" class="form-control" />
                    <!-- <div *ngIf="personnelForm.controls['lastname'].invalid && personnelForm.controls['lastname'].touched" class="text-danger">
                      <small *ngIf="personnelForm.controls['lastname'].hasError('required')">Télélastname est requis.</small>
                    </div> -->
                  </div>

                    <!-- Tel -->
                    <div class="col-md-6">
                      <span>Téléphone</span>
                      <input type="text" formControlName="phone" class="form-control" />
                      <!-- <div *ngIf="personnelForm.controls['phone'].invalid && personnelForm.controls['phone'].touched" class="text-danger">
                        <small *ngIf="personnelForm.controls['phone'].hasError('required')">Personne de contact est requise.</small>
                      </div> -->
                    </div>

                  <!-- N° CNI ou Passport -->
                  <!-- <div class="col-md-6">
                    <span>N° CNI ou Passport</span>
                    <input type="id_card_number" formControlName="id_card_number" class="form-control" />
                    <div *ngIf="personnelForm.controls['id_card_number'].invalid && personnelForm.controls['id_card_number'].touched" class="text-danger">
                      <small *ngIf="personnelForm.controls['id_card_number'].hasError('id_card_number')">id_card_number invalide.</small>
                    </div>
                  </div> -->
                </div>

                <div class="row mb-3">
                  <!-- Date D'expiration CNI -->
                  <!-- <div class="col-md-6">
                    <span>Date d'Expiration CNI</span>
                    <input type="text" formControlName="date_card_validity" class="form-control" />
                    <div *ngIf="personnelForm.controls['date_card_validity'].invalid && personnelForm.controls['date_card_validity'].touched" class="text-danger">
                      <small *ngIf="personnelForm.controls['date_card_validity'].hasError('required')">date_card_validity est requis.</small>
                    </div>
                  </div> -->

                  <!-- Type -->
                  <!-- <div class="col-md-6">
                    <span>Type</span>
                    <input type="text" formControlName="type" class="form-control" />
                    <div *ngIf="personnelForm.controls['type'].invalid && personnelForm.controls['type'].touched" class="text-danger">
                      <small *ngIf="personnelForm.controls['type'].hasError('required')">Type est requis.</small>
                    </div>
                  </div> -->
                </div>

                <div class="row mb-3">
                  <!-- Country -->
                  <div class="col-md-6">
                    <span>Pays</span>
                    <select formControlName="country_id" class="form-control">
                      <option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</option>
                    </select>
                    <!-- <div *ngIf="personnelForm.controls['country_id'].invalid && personnelForm.controls['country_id'].touched" class="text-danger">
                      <small *ngIf="personnelForm.controls['country_id'].hasError('required')">Pays est requis.</small>
                    </div> -->
                  </div>

                  <!-- City -->
                  <div class="col-md-6">
                    <span>Ville</span>
                    <select formControlName="city_id" class="form-control">
                      <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
                    </select>
                    <!-- <div *ngIf="personnelForm.controls['city_id'].invalid && personnelForm.controls['city_id'].touched" class="text-danger">
                      <small *ngIf="personnelForm.controls['city_id'].hasError('required')">Ville est requise.</small>
                    </div> -->
                  </div>
                </div>

                <div class="row mb-3">


                   <!-- profession -->
                   <div class="col-md-6">
                    <span>Profession</span>
                    <input type="text" formControlName="profession" class="form-control" />
                  </div>

                   <!-- genre -->
                   <div class="col-md-6">
                    <span>Genre</span>
                    <select formControlName="gender" class="form-control">
                      <option value="N/A" selected="">
                        ...
                      </option>
                      <option value="MASCULIN">
                          MASCULIN
                      </option>
                      <option value="FEMININ">
                          FEMININ
                      </option>
                    </select>

                  </div>
                </div>

                <div class="row mb-3">
                  <!-- marital_status -->
                  <div class="col-md-6">
                    <span>Situation Matrimoniale</span>
                    <select formControlName="marital_status" class="form-control">
                      <option value="N/A" selected="">
                        ...
                      </option>
                      <option value="CELIBATAIRE">
                          CELIBATAIRE
                      </option>
                      <option value="MARIÉ(E)">
                          MARIÉ(E)
                      </option>
                      <option value="VEUF(VE)">
                          VEUF(VE)
                      </option>
                    </select>
                    <!-- <div *ngIf="personnelForm.controls['city_id'].invalid && personnelForm.controls['city_id'].touched" class="text-danger">
                      <small *ngIf="personnelForm.controls['city_id'].hasError('required')">Ville est requise.</small>
                    </div> -->
                  </div>
               <!--Nombre D'enfants -->
               <div class="col-md-6">
                <span>Nombre d'Enfants</span>
                <input type="text" formControlName="num_children" class="form-control" />
              </div>
            </div>
            <div class="row mb-3">
              <!-- Date de Naissance -->
              <div class="col-md-6">
                <span>Date de Naissance</span>
                <input type="date" formControlName="birthday" class="form-control" />
                <div *ngIf="personnelForm.controls['birthday'].invalid && personnelForm.controls['birthday'].touched" class="text-danger">
                  <small *ngIf="personnelForm.controls['birthday'].hasError('required')">Personne de contact est requise.</small>
                </div>
              </div>

              <!-- Lieu de Naissance -->
              <div class="col-md-6">
                <span>Lieu de Naissance</span>
                <input type="text" formControlName="place_birth" class="form-control" />
                <div *ngIf="personnelForm.controls['place_birth'].invalid && personnelForm.controls['place_birth'].touched" class="text-danger">
                  <small *ngIf="personnelForm.controls['place_birth'].hasError('required')">Lieu de Naissance est requis.</small>
                </div>
              </div>
            </div>
                <div class="row mb-3">
                  <!-- father_name -->
                  <div class="col-md-6">
                    <span>Nom du Père</span>
                    <input type="text" formControlName="father_name" class="form-control" />
                  </div>
                   <!-- mother_name -->
                   <div class="col-md-6">
                    <span>Nom de la mère</span>
                    <input type="text" formControlName="mother_name" class="form-control" />
                  </div>
                </div>




                <div class="row mb-3">

                     <!-- Email -->
                  <div class="col-md-6">
                    <span>Email</span>
                    <input type="text" formControlName="email" class="form-control" />
                    <!-- <div *ngIf="personnelForm.controls['email'].invalid && personnelForm.controls['email'].touched" class="text-danger">
                      <small *ngIf="personnelForm.controls['email'].hasError('required')">Télélastname de contact est requis.</small>
                    </div> -->
                   </div>



                </div>

                <div class="row mb-3">
                  <!-- Piece jointe -->
                  <div class="col-md-6">
                    <span>Piece jointe</span>
                    <input type="file" formControlName="attachment" (change)="handleFileInput($event)" class="form-control" multiple />
                  </div>
                   <!--Nombre D'enfants -->
                   <div class="col-md-6">
                    <!-- Zone d'affichage des erreurs globales -->
                    <div *ngIf="errorMessage">{{ errorMessage }}</div>
                  </div>
                </div>

                <div class="row mb-3">
                  <!-- Submit Button -->
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-block">Créer le personnel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
      <!-- /.card -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<style>

</style>
