<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <h1 class="mt-4 " i18n>Modifier Entreprise</h1>
    <ol class="breadcrumb mb-4 text-center">
      <li class="breadcrumb-item active" style="background-color: lightblue; border-radius: 2px; margin: 2px; padding: 5px;" i18n>
        Hello M/Mme MONGO SALOMON, il {{ currentTime | date: 'HH:mm' }} en ce jour du {{ currentDay | date: 'EEEE, dd MMMM yyyy' }}.
      </li>
    </ol>
    <div class="row justify-content-center">
      <!-- Horizontal Form -->
      <div class="card card-info col-md-8">
        <!-- form start -->
        <div class="card">
          <div class="card-header">
            <h2 i18n>Mettre à jour l'entreprise</h2>
          </div>
          <div class="card-body">
            <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="name" i18n>Nom de l'Entreprise</label>
                    <input id="name" formControlName="name" class="form-control" type="text" />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="author" i18n>Auteur</label>
                    <input id="author" formControlName="author" class="form-control" type="text" />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="phone" i18n>Téléphone</label>
                    <input id="phone" formControlName="phone" class="form-control" type="text" />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="email" i18n>Email</label>
                    <input id="email" formControlName="email" class="form-control" type="email" />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="nui" i18n>NUI</label>
                    <input id="nui" formControlName="nui" class="form-control" type="text" />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="type" i18n>Type</label>
                    <input id="type" formControlName="type" class="form-control" type="text" />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="country_id" i18n>Pays</label>
                    <select id="country_id" formControlName="country_id" class="form-control">
                      <option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="city_id" i18n>Ville</label>
                    <select id="city_id" formControlName="city_id" class="form-control">
                      <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="neighborhood" i18n>Quartier</label>
                    <input id="neighborhood" formControlName="neighborhood" class="form-control" type="text" />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="contact_person" i18n>Personne de contact</label>
                    <input id="contact_person" formControlName="contact_person" class="form-control" type="text" />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="contact_person_phone" i18n>Téléphone de la personne de contact</label>
                    <input id="contact_person_phone" formControlName="contact_person_phone" class="form-control" type="text" />
                  </div>
                </div>

                <!-- <div class="col-md-6">
                  <div class="form-group">
                    <label for="status">Statut</label>
                    <input id="status" formControlName="status" class="form-control" type="number" />
                  </div>
                </div> -->
              </div>

              <button type="submit" class="btn btn-primary" i18n>Mettre à jour</button>
            </form>
          </div>
        </div>

      </div>
      <!-- /.card -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<style>

</style>
