  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <h1 class="mt-4">Nouvelle Entreprises</h1>
      <ol class="breadcrumb mb-4" >
        <li class="breadcrumb-item active" style="background-color: lightblue; border-radius: 2px; margin: 2px; padding: 5px;">
            Hello M/Mme MONGO SALOMON, il est 11:17 en ce jour
            du Lundi 29 Juillet 2024.
        </li>
      </ol>
      <div class="row">
          <!-- Horizontal Form -->
          <div class="card card-info">
            <!-- form start -->
            <form class="form-horizontal" [formGroup]="form" (ngSubmit)="submit()">
              <div class="card-body">
                <!-- Nom Entreprise -->
                <div class="form-group row justify-content-center">
                  <label for="nom" class="col-sm-3 col-form-label text-right">Nom Entreprise <span style="color: red;">*</span></label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="nom" placeholder="Nom Entreprise" formControlName="nom_entreprise">
                    <div class="alert alert-danger mt-2" *ngIf="f['nom_entreprise'].touched && f['nom_entreprise'].invalid">
                      <div *ngIf="f['nom_entreprise'].errors?.['required']">
                        Le nom de l'entreprise est requis.
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Auteur -->
                <div class="form-group row justify-content-center">
                  <label for="auteur" class="col-sm-3 col-form-label text-right">Auteur <span style="color: red;">*</span></label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="auteur" placeholder="Auteur" formControlName="author">
                    <div class="alert alert-danger mt-2" *ngIf="f['author'].touched && f['author'].invalid">
                      <div *ngIf="f['author'].errors?.['required']">
                        L'auteur est requis.
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Type Entreprise -->
                <div class="form-group row justify-content-center">
                  <label for="company_type" class="col-sm-3 col-form-label text-right">Type Entreprise <span style="color: red;">*</span></label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="company_type" placeholder="Type Entreprise" formControlName="company_type">
                    <div class="alert alert-danger mt-2" *ngIf="f['company_type'].touched && f['company_type'].invalid">
                      <div *ngIf="f['company_type'].errors?.['required']">
                        Le type de l'entreprise est requis.
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Email -->
                <div class="form-group row justify-content-center">
                  <label for="email" class="col-sm-3 col-form-label text-right">Email</label>
                  <div class="col-sm-6">
                    <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
                    <div class="alert alert-danger mt-2" *ngIf="f['email'].touched && f['email'].invalid">
                      <div *ngIf="f['email'].errors?.['required']">
                        L'email est requis.
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Tel -->
                <div class="form-group row justify-content-center">
                  <label for="phone" class="col-sm-3 col-form-label text-right">Tel <span style="color: red;">*</span></label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="phone" placeholder="Téléphone" formControlName="phone">
                    <div class="alert alert-danger mt-2" *ngIf="f['phone'].touched && f['phone'].invalid">
                      <div *ngIf="f['phone'].errors?.['required']">
                        Le téléphone est requis.
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Personne à contacter -->
                <div class="form-group row justify-content-center">
                  <label for="contact_person_phone" class="col-sm-3 col-form-label text-right">Personne à contacter</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="contact_person_phone" placeholder="Téléphone de la personne à contacter" formControlName="contact_person_phone">
                    <div class="alert alert-danger mt-2" *ngIf="f['contact_person_phone'].touched && f['contact_person_phone'].invalid">
                      <div *ngIf="f['contact_person_phone'].errors?.['required']">
                        Le téléphone de la personne à contacter est requis.
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Tel Contact -->
                <div class="form-group row justify-content-center">
                  <label for="contact_person" class="col-sm-3 col-form-label text-right">Tel contact <span style="color: red;">*</span></label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="contact_person" placeholder="Téléphone contact" formControlName="contact_person">
                    <div class="alert alert-danger mt-2" *ngIf="f['contact_person'].touched && f['contact_person'].invalid">
                      <div *ngIf="f['contact_person'].errors?.['required']">
                        Le téléphone du contact est requis.
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Localisation -->
                <div class="form-group row justify-content-center">
                  <label for="localisation" class="col-sm-3 col-form-label text-right">Localisation <span style="color: red;">*</span></label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="localisation" placeholder="Localisation" formControlName="country_id">
                    <div class="alert alert-danger mt-2" *ngIf="f['country_id'].touched && f['country_id'].invalid">
                      <div *ngIf="f['country_id'].errors?.['required']">
                        La localisation est requise.
                      </div>
                    </div>
                  </div>
                </div>

                <!-- NUI -->
                <div class="form-group row justify-content-center">
                  <label for="nui" class="col-sm-3 col-form-label text-right">NUI <span style="color: red;">*</span></label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="nui" placeholder="NUI" formControlName="nui">
                    <div class="alert alert-danger mt-2" *ngIf="f['nui'].touched && f['nui'].invalid">
                      <div *ngIf="f['nui'].errors?.['required']">
                        Le NUI est requis.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer text-center">
                <button type="submit" class="btn btn-info" [disabled]="!form.valid">Submit</button>
                <a routerLink="/entreprise" class="btn btn-danger ml-2">Cancel</a>
              </div>
              <!-- /.card-footer -->
            </form>



          </div>
          <!-- /.card -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
