<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <h1 class="mt-4 ">Nouvelle Entreprise</h1>

    <div class="row justify-content-center">
      <!-- Horizontal Form -->
      <div class="card card-info col-md-8">
        <!-- form start -->
        <!-- <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row justify-content-center">
              <span for="nom" class="col-sm-3 col-form-label text-right">Nom Entreprise <span style="color: red;">*</span></span>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="nom" placeholder="Nom Entreprise" formControlName="nom_entreprise">
                <div class="alert alert-danger mt-2" *ngIf="f['nom_entreprise'].touched && f['nom_entreprise'].invalid">
                  <div *ngIf="f['nom_entreprise'].errors?.['required']">
                    Le nom de l'entreprise est requis.
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row justify-content-center">
              <span for="auteur" class="col-sm-3 col-form-label text-right">Auteur <span style="color: red;">*</span></span>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="auteur" placeholder="Auteur" formControlName="author">
                <div class="alert alert-danger mt-2" *ngIf="f['author'].touched && f['author'].invalid">
                  <div *ngIf="f['author'].errors?.['required']">
                    L'auteur est requis.
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row justify-content-center">
              <span for="company_type" class="col-sm-3 col-form-label text-right">Type Entreprise <span style="color: red;">*</span></span>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="company_type" placeholder="Type Entreprise" formControlName="company_type">
                <div class="alert alert-danger mt-2" *ngIf="f['company_type'].touched && f['company_type'].invalid">
                  <div *ngIf="f['company_type'].errors?.['required']">
                    Le type de l'entreprise est requis.
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row justify-content-center">
              <span for="email" class="col-sm-3 col-form-label text-right">Email</span>
              <div class="col-sm-6">
                <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
                <div class="alert alert-danger mt-2" *ngIf="f['email'].touched && f['email'].invalid">
                  <div *ngIf="f['email'].errors?.['required']">
                    L'email est requis.
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row justify-content-center">
              <span for="phone" class="col-sm-3 col-form-label text-right">Tel <span style="color: red;">*</span></span>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="phone" placeholder="Téléphone" formControlName="phone">
                <div class="alert alert-danger mt-2" *ngIf="f['phone'].touched && f['phone'].invalid">
                  <div *ngIf="f['phone'].errors?.['required']">
                    Le téléphone est requis.
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row justify-content-center">
              <span for="contact_person_phone" class="col-sm-3 col-form-label text-right">Personne à contacter</span>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="contact_person_phone" placeholder="Téléphone de la personne à contacter" formControlName="contact_person_phone">
                <div class="alert alert-danger mt-2" *ngIf="f['contact_person_phone'].touched && f['contact_person_phone'].invalid">
                  <div *ngIf="f['contact_person_phone'].errors?.['required']">
                    Le téléphone de la personne à contacter est requis.
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row justify-content-center">
              <span for="contact_person" class="col-sm-3 col-form-label text-right">Tel contact <span style="color: red;">*</span></span>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="contact_person" placeholder="Téléphone contact" formControlName="contact_person">
                <div class="alert alert-danger mt-2" *ngIf="f['contact_person'].touched && f['contact_person'].invalid">
                  <div *ngIf="f['contact_person'].errors?.['required']">
                    Le téléphone du contact est requis.
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row justify-content-center">
              <span for="country_id" class="col-sm-3 col-form-label text-right">Pays <span style="color: red;">*</span></span>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="country_id" placeholder="Pays" formControlName="country_id">
                <div class="alert alert-danger mt-2" *ngIf="f['country_id'].touched && f['country_id'].invalid">
                  <div *ngIf="f['country_id'].errors?.['required']">
                    Le Pays est requise.
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row justify-content-center">
              <span for="city" class="col-sm-3 col-form-label text-right">Ville <span style="color: red;">*</span></span>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="city" placeholder="Ville" formControlName="city">
                <div class="alert alert-danger mt-2" *ngIf="f['city'].touched && f['city'].invalid">
                  <div *ngIf="f['city'].errors?.['required']">
                    La Ville est requise.
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row justify-content-center">
              <span for="quarter" class="col-sm-3 col-form-label text-right">Quartier <span style="color: red;">*</span></span>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="quarter" placeholder="Quartier" formControlName="quarter">
                <div class="alert alert-danger mt-2" *ngIf="f['quarter'].touched && f['quarter'].invalid">
                  <div *ngIf="f['quarter'].errors?.['required']">
                    Le Quartier est requise.
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row justify-content-center">
              <span for="nui" class="col-sm-3 col-form-label text-right">NUI <span style="color: red;">*</span></span>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="nui" placeholder="NUI" formControlName="nui">
                <div class="alert alert-danger mt-2" *ngIf="f['nui'].touched && f['nui'].invalid">
                  <div *ngIf="f['nui'].errors?.['required']">
                    Le NUI est requis.
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="card-footer text-center">
            <button type="submit" class="btn btn-info" [disabled]="!form.valid">Submit</button>
            <a routerLink="/entreprise" class="btn btn-danger ml-2">Cancel</a>
          </div>

        </form> -->

        <div class="container mt-5">
          <div class="card">
            <div class="card-header">
              <h4>
                Enregistrer une entreprise
                </h4>
            </div>
            <div class="card-body">
              <form [formGroup]="entrepriseForm" (ngSubmit)="onSubmit()">
                <div class="row mb-3">
                  <!-- Social Reason -->
                  <div class="col-md-6">
                    <span>Raison sociale</span>
                    <input type="text" formControlName="social_reason" class="form-control" />
                    <!-- <div *ngIf="entrepriseForm.controls['social_reason'].invalid && entrepriseForm.controls['social_reason'].touched" class="text-danger">
                      <small *ngIf="entrepriseForm.controls['social_reason'].hasError('required')">Raison sociale est requise.</small>
                    </div> -->
                  </div>

                  <!-- Author -->
                  <div class="col-md-6">
                    <span>Auteur</span>
                    <input type="text" formControlName="author" class="form-control" value="{{user.name}}" />
                    <!-- <div *ngIf="entrepriseForm.controls['author'].invalid && entrepriseForm.controls['author'].touched" class="text-danger">
                      <small *ngIf="entrepriseForm.controls['author'].hasError('required')">Auteur est requis.</small>
                    </div> -->
                  </div>
                </div>

                <div class="row mb-3">
                  <!-- Phone -->
                  <div class="col-md-6">
                    <span>Téléphone</span>
                    <input type="text" formControlName="phone" class="form-control" />
                  </div>

                  <div class="col-md-6">
                    <label for="catId" class="form-label"><i class="fas fa-info-circle me-2"></i>Catégorie d'entreprise</label>
                    <select id="catId" class="form-select" formControlName="catId">
                      <option value="bet">BET</option>
                      <option value="entreprise" selected>Entreprise</option>
                    </select>
                  </div>

                  <!-- Email -->
                  <div class="col-md-6">
                    <span>Email</span>
                    <input type="email" formControlName="email" class="form-control" />
                    <!-- <div *ngIf="entrepriseForm.controls['email'].invalid && entrepriseForm.controls['email'].touched" class="text-danger">
                      <small *ngIf="entrepriseForm.controls['email'].hasError('email')">Email invalide.</small>
                    </div> -->
                  </div>
                </div>

                <div class="row mb-3">
                  <!-- NUI -->
                  <div class="col-md-6">
                    <span>NIU</span>
                    <input type="text" formControlName="nui" class="form-control" />
                    <!-- <div *ngIf="entrepriseForm.controls['nui'].invalid && entrepriseForm.controls['nui'].touched" class="text-danger">
                      <small *ngIf="entrepriseForm.controls['nui'].hasError('required')">NUI est requis.</small>
                    </div> -->
                  </div>

                  <!-- Type -->
                  <div class="col-md-6">
                    <span>TYPE </span>
                    <select formControlName="company_type" class="form-control">
                      <option value="N/A" selected="">
                        ...
                      </option>
                      <option value="PUBLIC">
                        PUBLIC
                      </option>
                      <option value="PRIVEE">
                        PRIVEE
                      </option>

                    </select>
                    <!-- <div *ngIf="personnelForm.controls['city_id'].invalid && personnelForm.controls['city_id'].touched" class="text-danger">
                      <small *ngIf="personnelForm.controls['city_id'].hasError('required')">Ville est requise.</small>
                    </div> -->
                  </div>
                </div>

                <div class="row mb-3">
                  <!-- Country -->
                  <div class="col-md-6">
                    <span>Pays</span>
                    <select formControlName="country_id" class="form-control">
                      <option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</option>
                    </select>
                    <!-- <div *ngIf="entrepriseForm.controls['country_id'].invalid && entrepriseForm.controls['country_id'].touched" class="text-danger">
                      <small *ngIf="entrepriseForm.controls['country_id'].hasError('required')">Pays est requis.</small>
                    </div> -->
                  </div>

                  <!-- City -->
                  <div class="col-md-6">
                    <span>Ville</span>
                    <select formControlName="city_id" class="form-control">
                      <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
                    </select>
                    <!-- <div *ngIf="entrepriseForm.controls['city_id'].invalid && entrepriseForm.controls['city_id'].touched" class="text-danger">
                      <small *ngIf="entrepriseForm.controls['city_id'].hasError('required')">Ville est requise.</small>
                    </div> -->
                  </div>
                </div>

                <div class="row mb-3">
                  <!-- Contact Person -->
                  <div class="col-md-6">
                    <span>Personne de contact</span>
                    <input type="text" formControlName="contact_person" class="form-control" />
                    <!-- <div *ngIf="entrepriseForm.controls['contact_person'].invalid && entrepriseForm.controls['contact_person'].touched" class="text-danger">
                      <small *ngIf="entrepriseForm.controls['contact_person'].hasError('required')">Personne de contact est requise.</small>
                    </div> -->
                  </div>

                  <!-- Contact Person Phone -->
                  <div class="col-md-6">
                    <span>Téléphone de la personne de contact</span>
                    <input type="text" formControlName="contact_person_phone" class="form-control" />
                    <!-- <div *ngIf="entrepriseForm.controls['contact_person_phone'].invalid && entrepriseForm.controls['contact_person_phone'].touched" class="text-danger">
                      <small *ngIf="entrepriseForm.controls['contact_person_phone'].hasError('required')">Téléphone de contact est requis.</small>
                    </div> -->
                  </div>
                </div>

                <div class="row mb-3">
                  <!-- Status -->
                  <!-- <div class="col-md-6">
                    <span>Statut</span>
                    <select formControlName="status" class="form-control">
                      <option value="1">Active</option>
                      <option value="0">Annulé</option>
                    </select>
                  </div> -->

                  <!-- Neighborhood -->
                  <div class="col-md-6">
                    <span>Quartier</span>
                    <input type="text" formControlName="neighborhood" class="form-control" />
                  </div>
                </div>

                <div class="row mb-3">
                  <!-- Submit Button -->
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-block">Créer l'entreprise</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
      <!-- /.card -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<style>

</style>
