<!-- Main content -->
<section class="content">
  <div class="container-fluid">
  
    <div class="row justify-content-center">
      <!-- Horizontal Form -->
      <div class="card card-info col-md-8">
      
        <div class="container">
          <div class="card">
            <div class="card-header">
              <h4 class="form-title">
                Nouvelle entreprise
                </h4>
            </div>
            <div class="card-body">
              <form [formGroup]="entrepriseForm" (ngSubmit)="onSubmit()">
                <div class="row mb-3">
                  <!-- Social Reason -->
                  <div class="col-md-6">
                    <span>Raison sociale</span>
                    <input type="text" formControlName="social_reason" class="form-control" />
                    <!-- <div *ngIf="entrepriseForm.controls['social_reason'].invalid && entrepriseForm.controls['social_reason'].touched" class="text-danger">
                      <small *ngIf="entrepriseForm.controls['social_reason'].hasError('required')">Raison sociale est requise.</small>
                    </div> -->
                  </div>

                  <!-- Author -->
                  <div class="col-md-6">
                    <span>Auteur</span>
                    <input type="text" formControlName="author" class="form-control" value="{{user.name}}" />
                    <!-- <div *ngIf="entrepriseForm.controls['author'].invalid && entrepriseForm.controls['author'].touched" class="text-danger">
                      <small *ngIf="entrepriseForm.controls['author'].hasError('required')">Auteur est requis.</small>
                    </div> -->
                  </div>
                </div>

                <div class="row mb-3">
                  <!-- Phone -->
                  <div class="col-md-6">
                    <span>Téléphone</span>
                    <input type="text" formControlName="phone" class="form-control" />
                  </div>

                  <div class="col-md-6">
                    <label for="catId" class="form-label"><i class="fas fa-info-circle me-2"></i>Catégorie d'entreprise</label>
                    <select id="catId" class="form-select" formControlName="catId">
                      <option value="bet">BET</option>
                      <option value="entreprise" selected>Entreprise</option>
                    </select>
                  </div>

                  <!-- Email -->
                  <div class="col-md-6">
                    <span>Email</span>
                    <input type="email" formControlName="email" class="form-control" />
                    <!-- <div *ngIf="entrepriseForm.controls['email'].invalid && entrepriseForm.controls['email'].touched" class="text-danger">
                      <small *ngIf="entrepriseForm.controls['email'].hasError('email')">Email invalide.</small>
                    </div> -->
                  </div>

                  <div class="col-md-6">
                    <span>Quartier</span>
                    <input type="text" formControlName="neighborhood" class="form-control" />
                  </div>
                </div>

                <div class="row mb-3">
                  <!-- NUI -->
                  <div class="col-md-6">
                    <span>NIU</span>
                    <input type="text" formControlName="nui" class="form-control" />
                    <!-- <div *ngIf="entrepriseForm.controls['nui'].invalid && entrepriseForm.controls['nui'].touched" class="text-danger">
                      <small *ngIf="entrepriseForm.controls['nui'].hasError('required')">NUI est requis.</small>
                    </div> -->
                  </div>

                  <!-- Type -->
                  <div class="col-md-6">
                    <span>TYPE </span>
                    <select formControlName="company_type" class="form-control">
                      <option value="N/A" selected="">
                        ...
                      </option>
                      <option value="PUBLIC">
                        PUBLIC
                      </option>
                      <option value="PRIVEE">
                        PRIVEE
                      </option>

                    </select>
                    <!-- <div *ngIf="personnelForm.controls['city_id'].invalid && personnelForm.controls['city_id'].touched" class="text-danger">
                      <small *ngIf="personnelForm.controls['city_id'].hasError('required')">Ville est requise.</small>
                    </div> -->
                  </div>
                </div>

                <div class="row mb-3">
                  <!-- Country -->
                  <div class="col-md-6">
                    <span>Pays</span>
                    <select formControlName="country_id" class="form-control">
                      <option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</option>
                    </select>
                    <!-- <div *ngIf="entrepriseForm.controls['country_id'].invalid && entrepriseForm.controls['country_id'].touched" class="text-danger">
                      <small *ngIf="entrepriseForm.controls['country_id'].hasError('required')">Pays est requis.</small>
                    </div> -->
                  </div>

                  <!-- City -->
                  <div class="col-md-6">
                    <span>Ville</span>
                    <select formControlName="city_id" class="form-control">
                      <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
                    </select>
                    <!-- <div *ngIf="entrepriseForm.controls['city_id'].invalid && entrepriseForm.controls['city_id'].touched" class="text-danger">
                      <small *ngIf="entrepriseForm.controls['city_id'].hasError('required')">Ville est requise.</small>
                    </div> -->
                  </div>
                </div>

                <div class="row mb-3">
                  <!-- Contact Person -->
                  <div class="col-md-6">
                    <span>Personne de contact</span>
                    <input type="text" formControlName="contact_person" class="form-control" />
                    <!-- <div *ngIf="entrepriseForm.controls['contact_person'].invalid && entrepriseForm.controls['contact_person'].touched" class="text-danger">
                      <small *ngIf="entrepriseForm.controls['contact_person'].hasError('required')">Personne de contact est requise.</small>
                    </div> -->
                  </div>

                  <!-- Contact Person Phone -->
                  <div class="col-md-6">
                    <span>Téléphone de la personne de contact</span>
                    <input type="text" formControlName="contact_person_phone" class="form-control" />
                    <!-- <div *ngIf="entrepriseForm.controls['contact_person_phone'].invalid && entrepriseForm.controls['contact_person_phone'].touched" class="text-danger">
                      <small *ngIf="entrepriseForm.controls['contact_person_phone'].hasError('required')">Téléphone de contact est requis.</small>
                    </div> -->
                  </div>
                </div>

         

                <div class="row mb-3">
                  <!-- Submit Button -->
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-block">Créer l'entreprise</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
      <!-- /.card -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<style>

</style>
