<div class="container-fluid">
  <h4 class="mt-4"><svg class="svg-inline--fa fa-tasks fa-w-16 custom-icon" style="color: silver;" aria-hidden="true"
      focusable="false" data-prefix="fas" data-icon="tasks" role="img" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 512 512" data-fa-i2svg="">
      <path fill="currentColor"
        d="M139.61 35.5a12 12 0 0 0-17 0L58.93 98.81l-22.7-22.12a12 12 0 0 0-17 0L3.53 92.41a12 12 0 0 0 0 17l47.59 47.4a12.78 12.78 0 0 0 17.61 0l15.59-15.62L156.52 69a12.09 12.09 0 0 0 .09-17zm0 159.19a12 12 0 0 0-17 0l-63.68 63.72-22.7-22.1a12 12 0 0 0-17 0L3.53 252a12 12 0 0 0 0 17L51 316.5a12.77 12.77 0 0 0 17.6 0l15.7-15.69 72.2-72.22a12 12 0 0 0 .09-16.9zM64 368c-26.49 0-48.59 21.5-48.59 48S37.53 464 64 464a48 48 0 0 0 0-96zm432 16H208a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h288a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm0-320H208a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h288a16 16 0 0 0 16-16V80a16 16 0 0 0-16-16zm0 160H208a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h288a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16z">
      </path>
    </svg><!-- <i class="fas fa-tasks" style="color: silver"></i> Font Awesome fontawesome.com --> Liste des demandes d’attestations initiées pour le compte des entreprises </h4>

  <div class="row">
    <div class="col-xl-12">

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>
  <!--                Main Body              -->
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="dataTable_length"><label>Show <select name="dataTable_length"
                    aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select> entries</label></div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="dataTable_filter" class="dataTables_filter"><label>Search:<input type="search"
                    class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-striped table-hover">
                <thead>
                  <tr role="row">
                    <th scope="col">Ref_DE</th>
                    <th scope="col">Date</th>
                    <th scope="col">Matricule</th>
                    <th scope="col">Nom
                      ingénieur</th>
                    <th scope="col">Entreprise
                    </th>
                    <th scope="col">Statut</th>
                    <th scope="col"><svg class="svg-inline--fa fa-bars fa-w-14" aria-hidden="true"
                        focusable="false" data-prefix="fas" data-icon="bars" role="img"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                        <path fill="currentColor"
                          d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
                        </path>
                      </svg><!-- <i class="fas fa-bars"></i> Font Awesome fontawesome.com --></th>
                  </tr>
                </thead>
                <tbody>



                  <tr role="row" class="odd" *ngFor="let item of attestations">
                    <td class="sorting_1"><a href="#">{{item.id}}</a></td>
                    <!--<td><a href="#">E-banking</a></td>-->
                    <td><a href="#">{{item.year | date}}</a></td>
                    <td><a href="#">{{ getmemberMatricule(item.member_id) }}</a></td>
                    <td><a href="#"><img width="28" height="28" src="assets/img/user.jpg" class="rounded-circle m-r-5"
                      alt="">{{ getMemberName(item.member_id) }} </a></td>
                    <td><a href="#">{{ getCompaniesNames(item.company_id) }}</a></td>
                    <td>

                      <span class="custom-badge status-green">
                        <span class="badge" [ngClass]="{
                          'badge-success': item.status === 0,
                          'badge-warning': item.status === 3,
                          'badge-danger': item.status === 2
                        }">
                          {{
                            item.status === 2 ? 'INITIED ' :
                            item.status === 0 ? 'ANCIEN' :
                            'RAS'
                          }}
                        </span></span>
                    </td>

                    <td class="text-right">
                      <a class="btn btn-primary" href="valider_statut_initiated.php?id=ATTE000001073_ONIGC_14646"
                        title="Valider" style="background-color: transparent" onclick="Supp(this.href); return(false);">
                        <svg style="color: green;" class="svg-inline--fa fa-check fa-w-16" aria-hidden="true"
                          focusable="false" data-prefix="fas" data-icon="check" role="img"
                          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                          <path fill="currentColor"
                            d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                          </path>
                        </svg><!-- <i style="color: green" class="fas fa-check"></i> Font Awesome fontawesome.com -->
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to 10 of 62
                entries</div>
            </div>
            <div class="col-sm-12 col-md-7">
              <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                <ul class="pagination">
                  <li class="paginate_button page-item previous disabled" id="dataTable_previous"><a href="#"
                      aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                  <li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="1"
                      tabindex="0" class="page-link">1</a></li>
                  <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="2"
                      tabindex="0" class="page-link">2</a></li>
                  <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="3"
                      tabindex="0" class="page-link">3</a></li>
                  <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="4"
                      tabindex="0" class="page-link">4</a></li>
                  <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="5"
                      tabindex="0" class="page-link">5</a></li>
                  <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="6"
                      tabindex="0" class="page-link">6</a></li>
                  <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="7"
                      tabindex="0" class="page-link">7</a></li>
                  <li class="paginate_button page-item next" id="dataTable_next"><a href="#" aria-controls="dataTable"
                      data-dt-idx="8" tabindex="0" class="page-link">Next</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--                End Body              -->

  <div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>

</div>
