


<div class="container">

  <div class="card shadow mb-4">
    <!-- Dropdown Card Example -->
    <div class="card shadow mb-4">
     <!-- Card Header - Dropdown -->
     <div
         class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
         <h6 class="m-0 font-weight-bold text-primary" i18n>{{'page.Details entreprises'| translate}}</h6>
         <div class="dropdown no-arrow">
             <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
             </a>
             <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                 aria-labelledby="dropdownMenuLink">
                 <div class="dropdown-header" i18n>Action:</div>
                 <a class="dropdown-item" [routerLink]="['/Closer/entreprise']" routerLinkActive="router-link-active" i18n>Retour</a>
                 <!-- <a class="dropdown-item" href="#">Another action</a>
                 <div class="dropdown-divider"></div>
                 <a class="dropdown-item" href="#">Something else here</a> -->
             </div>
         </div>
     </div>
     <!-- Card Body -->
     <div class="card-body" *ngIf="entreprise">
      <p><strong i18n>{{'page.Nom'| translate}}:</strong> {{ entreprise.company_name }}</p>
      <p><strong i18n>{{'page.Raison sociale'| translate}}:</strong> {{ entreprise.social_reason }}</p>
      <p><strong i18n>{{'page.Auteur'| translate}}Auteur:</strong> {{ entreprise.author }}</p>
      <p><strong i18n>{{'page.Contact'| translate}}Contact:</strong> {{ entreprise.contact_person }} - {{ entreprise.contact_person_phone }}</p>
      <p><strong i18n>Type:</strong> {{ entreprise.company_type }}</p>
      <p><strong i18n>{{'NUI'| translate}}:</strong> {{ entreprise.nui }}</p>
      <p><strong i18n>{{'page.Pays'| translate}}:</strong> {{ getCityName(entreprise.country_id) }}</p>
      <p><strong i18n>{{'page.Ville'| translate}}:</strong> {{ getCityName(entreprise.city_id) }}</p>
      <!-- <p><strong>Status:</strong>
        <span class="badge"
              [ngClass]="{
                'badge-warning': entreprise.status === 1,
                'badge-danger': entreprise.status === 0
              }">
          {{ entreprise.status === 1 ? 'Active' : 'Annulé' }}
        </span>
      </p> -->
      <p><strong i18n>Créé en:</strong> {{ entreprise.created_at | date:'yyyy' }}</p>

     </div>
  </div>
  </div>
  </div>
