


<div class="container">

  <div class="card shadow mb-4">
    <!-- Dropdown Card Example -->
    <div class="card shadow mb-4">
     <!-- Card Header - Dropdown -->
     <div
         class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
         <h6 class="m-0 font-weight-bold text-primary">Details entreprises</h6>
         <div class="dropdown no-arrow">
             <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
             </a>
             <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                 aria-labelledby="dropdownMenuLink">
                 <div class="dropdown-header">Action:</div>
                 <a class="dropdown-item" [routerLink]="['/entreprise']" routerLinkActive="router-link-active" >Retour</a>
                 <!-- <a class="dropdown-item" href="#">Another action</a>
                 <div class="dropdown-divider"></div>
                 <a class="dropdown-item" href="#">Something else here</a> -->
             </div>
         </div>
     </div>
     <!-- Card Body -->
     <div class="card-body" *ngIf="entreprise">
      <!-- <p><strong>ID:</strong> {{ entreprise.id }}</p> -->
      <p><strong>Raison sociale:</strong> {{ entreprise.social_reason }}</p>
      <p><strong>Auteur:</strong> {{ entreprise.author }}</p>
      <p><strong>Contact:</strong> {{ entreprise.contact_person }} - {{ entreprise.contact_person_phone }}</p>
      <p><strong>Type:</strong> {{ entreprise.type }}</p>
      <p><strong>NUI:</strong> {{ entreprise.nui }}</p>
      <p><strong>Pays:</strong> loadCountryName({{ entreprise.country_id }})</p>
      <p><strong>Ville:</strong> loadCityName({{ entreprise.city_id }})</p>
      <p><strong>Status:</strong>
        <span class="badge"
              [ngClass]="{
                'badge-warning': entreprise.status === 1,
                'badge-danger': entreprise.status === 0
              }">
          {{ entreprise.status === 1 ? 'Active' : 'Annulé' }}
        </span>
      </p>
      <p><strong>Créé en:</strong> {{ entreprise.created_at | date:'yyyy' }}</p>

     </div>
  </div>
  </div>
  </div>
