.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form-step {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}
.small-button {
 
  width: 20px;  /* Adjust the width */
  height: 17px;
}

.small-icon {
  width: 35px;  /* Adjust the width */
  height: 35px;  /* Adjust the height */
}
