<!-- <div class="row">
  <div class="col-sm-12 col-md-5">
    <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to 10 of 1,254 entries
    </div>
  </div>
  <div class="col-sm-12 col-md-7">
    <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
      <ul class="pagination">
        <li class="paginate_button page-item previous disabled" id="dataTable_previous">
          <a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
        </li>
        <li class="paginate_button page-item active">
          <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a>
        </li>
        <li class="paginate_button page-item ">
          <a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">2</a>
        </li>
        <li class="paginate_button page-item ">
          <a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">3</a>
        </li>
        <li class="paginate_button page-item ">
          <a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">4</a>
        </li>
        <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="5" tabindex="0"
            class="page-link">5</a></li>
        <li class="paginate_button page-item disabled" id="dataTable_ellipsis"><a href="#" aria-controls="dataTable"
            data-dt-idx="6" tabindex="0" class="page-link">…</a></li>
        <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0"
            class="page-link">126</a></li>
        <li class="paginate_button page-item next" id="dataTable_next"><a href="#" aria-controls="dataTable"
            data-dt-idx="8" tabindex="0" class="page-link">Next</a></li>
      </ul>
    </div>
  </div>
</div>
 -->


 <div class="row">
  <div class="col-sm-12 col-md-5">
    <div class="dataTables_info" role="status" aria-live="polite">
      Showing {{ (currentPage - 1) * pageSize + 1 }} to
      {{ Math.min(currentPage * pageSize, totalItems) }} of {{ totalItems }} entries
    </div>
  </div>
  <div class="col-sm-12 col-md-7">
    <div class="dataTables_paginate paging_simple_numbers">
      <ul class="pagination">
        <!-- Bouton précédent -->
        <li
          class="paginate_button page-item"
          [class.disabled]="currentPage === 1"
          (click)="goToPage(currentPage - 1)"
        >
          <a class="page-link">Previous</a>
        </li>

        <!-- Numéros de pages -->
        <li
          *ngFor="let page of pageNumbers"
          class="paginate_button page-item"
          [class.active]="page === currentPage"
          (click)="goToPage(page)"
        >
          <a  class="page-link">{{ page }}</a>
        </li>

        <!-- Bouton suivant -->
        <li
          class="paginate_button page-item"
          [class.disabled]="currentPage === totalPages"
          (click)="goToPage(currentPage + 1)"
        >
          <a  class="page-link">Next</a>
        </li>
      </ul>
    </div>
  </div>
</div>
