<div class="container mt-5">
  <h2 class="text-center mb-4">Créer une  annonce</h2>

  <form [formGroup]="annonceForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="row">
      <!-- Champ auteur -->
      <div class="col-md-12 mb-3">
        <label for="author" class="form-label font-weight-bold">Auteur <span class="text-danger">*</span></label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-bullhorn"></i></span>
          </div>
          <input type="text" id="author" formControlName="author" class="form-control" readonly >
          <!-- [ngClass]="{ 'is-invalid': submitted && f.object.errors }" -->
          <!-- <div *ngIf="submitted && f.object.errors" class="invalid-feedback">
            <div *ngIf="f.object.errors.required">Objet est requis.</div>
          </div> -->
        </div>
      </div>
      <!-- Champ Object -->
      <div class="col-md-12 mb-3">
        <label for="object" class="form-label font-weight-bold">Objet <span class="text-danger">*</span></label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-bullhorn"></i></span>
          </div>
          <input type="text" id="object" formControlName="object" class="form-control" placeholder="Titre de l'annonce" >
          <!-- [ngClass]="{ 'is-invalid': submitted && f.object.errors }" -->
          <!-- <div *ngIf="submitted && f.object.errors" class="invalid-feedback">
            <div *ngIf="f.object.errors.required">Objet est requis.</div>
          </div> -->
        </div>
      </div>

      <!-- Champ Contenu -->
      <div class="col-md-12 mb-3">
        <label for="body  " class="form-label font-weight-bold">Contenu <span class="text-danger">*</span></label>
        <textarea id="body" formControlName="body" rows="5" class="form-control" placeholder="Écrire le contenu de l'annonce" ></textarea>
        <!-- [ngClass]="{ 'is-invalid': submitted && f.contenu.errors }" -->
        <!-- <div *ngIf="submitted && f.contenu.errors" class="invalid-feedback">
          <div *ngIf="f.contenu.errors.required">Le contenu est requis.</div>
        </div> -->
      </div>

      <!-- Upload des fichiers joints -->
      <div class="col-md-12 mb-3">
        <label for="fichiers" class="form-label font-weight-bold">Joindre des fichiers</label>
        <div class="custom-file">
          <label for="fichiers">Joindre des fichiers</label>
          <input type="file" id="fichiers" (change)="onFileChange($event)" multiple />
        </div>
      </div>
    </div>

    <!-- Boutons d'action -->
    <div class="d-flex justify-content-between mt-4">
      <button type="button" class="btn btn-outline-secondary"  >Annuler</button>
      <button type="submit" class="btn btn-primary">
        <i class="fas fa-save"></i> Enregistrer l'annonce
      </button>
    </div>
  </form>
</div>
