<div class="container-fluid">
  <h1 class="mt-4"><svg class="svg-inline--fa fa-calendar-alt fa-w-14 custom-icon" style="color: silver;"
      aria-hidden="true" focusable="false" data-prefix="far" data-icon="calendar-alt" role="img"
      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
      <path fill="currentColor"
        d="M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z">
      </path>
    </svg><!-- <i class=" far fa-calendar-alt" style="color: silver"></i> Font Awesome fontawesome.com --> Modifier un
    Evenement</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active" style="background-color: lightblue; border-radius: 2px; margin: 2px; padding: 5px;">
      Hello M/Mme, il est 15:59 en ce jour du Mercredi 14 Aout 2024 .
    </li>
  </ol>


  <div class="row">
    <div class="col-xl-12">
      <div class="card mb-4">
        <div class="card-header">
          <b>
            <ul class="nav nav-pills " style="float: right;">
              <li class="nav-item ">
                <a class="nav-link active btn btn-success" href="liste_evenement.php" style="background-color: #28a745; color: white;">
                  Retour
                </a>
              </li>
            </ul>
            <!-- Nav pills -->
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active btn btn-success" data-toggle="pill" href="#home" style="background-color: #28a745; color: white;">
                  <svg class="svg-inline--fa fa-cubes fa-w-16 small-icon" aria-hidden="true" focusable="false"
                    data-prefix="fas" data-icon="cubes" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512" data-fa-i2svg="">
                    <path fill="currentColor"
                      d="M488.6 250.2L392 214V105.5c0-15-9.3-28.4-23.4-33.7l-100-37.5c-8.1-3.1-17.1-3.1-25.3 0l-100 37.5c-14.1 5.3-23.4 18.7-23.4 33.7V214l-96.6 36.2C9.3 255.5 0 268.9 0 283.9V394c0 13.6 7.7 26.1 19.9 32.2l100 50c10.1 5.1 22.1 5.1 32.2 0l103.9-52 103.9 52c10.1 5.1 22.1 5.1 32.2 0l100-50c12.2-6.1 19.9-18.6 19.9-32.2V283.9c0-15-9.3-28.4-23.4-33.7zM358 214.8l-85 31.9v-68.2l85-37v73.3zM154 104.1l102-38.2 102 38.2v.6l-102 41.4-102-41.4v-.6zm84 291.1l-85 42.5v-79.1l85-38.8v75.4zm0-112l-102 41.4-102-41.4v-.6l102-38.2 102 38.2v.6zm240 112l-85 42.5v-79.1l85-38.8v75.4zm0-112l-102 41.4-102-41.4v-.6l102-38.2 102 38.2v.6z">
                    </path>
                  </svg><!-- <i class="fas fa-cubes"></i> Font Awesome fontawesome.com -->
                  Modifier
                </a>
              </li>
            </ul>
          </b>
        </div>

        <div class="card-body">
          <!-- Tab panes -->
          <div class="tab-content">

            <!--                Main Body-->
            <div class="tab-pane container active" id="home">
              <div class="row">
                <div class="col-xl-12">
                  <div class="card mb-4">
                    <div class="card-header">
                      <b>
                        <!-- Nav pills -->
                        <!-- <ul class="nav nav-pills">
                      <li class="nav-item">
                          <a class="nav-link active" data-toggle="pill" href="#home">
                              <i class="fas fa-cubes"></i>
                              Nouveau
                          </a>
                      </li>
                   </ul> -->
                      </b>
                    </div>

                    <div class="card-body">
                      <!-- Tab panes -->
                      <div class="tab-content">
                        <!-- Etat Civile-->
                        <!-- infos civile-->


                        <div class="row">
                          <div class="col-lg-8 offset-lg-2">
                            <form action="save_evenement.php" method="POST">
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>Titre</label>
                                    <input class="form-control" type="text" name="titre" required="">
                                  </div>
                                </div>

                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>Lieu:<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="lieu" required="">
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label> Nombre maximun de participants : <span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" name="nb_part" required="">
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>Coût : </label>
                                    <input type="number" class="form-control" name="cout" required="">
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>Date debut:</label>
                                    <input type="date" class="form-control" value="2024-08-14" name="date_debut"
                                      required="">
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>Date fin:</label>
                                    <input type="date" class="form-control" name="date_fin" required="">
                                  </div>
                                </div>

                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label>Auteur</label>
                                    <div>
                                      <input type="text" class="form-control" value="MONGO SALOMON" readonly="">
                                    </div>
                                  </div>
                                </div>



                              </div>


                              <div class="m-t-20 text-center">
                                <button class="btn btn-success submit-btn">Envoyer</button>
                                <a href="liste_cachet.php" style=" width:150px;" class="btn btn-danger">
                                  <font>Annuler</font>
                                </a>
                              </div>
                            </form>
                          </div>
                        </div>


                      </div>
                    </div>
                    <div class="card-footer">

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--****************************Etat acadaméique**************************-->
            <div class="tab-pane container" id="menu1">
              <div class="row">
                <div class="col-xl-12">
                  <div class="card mb-4">
                    <div class="card-header">
                      <b>

                        <!-- Nav pills -->
                        <ul class="nav nav-pills">

                          <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#menu1">
                              <svg class="svg-inline--fa fa-university fa-w-16" aria-hidden="true" focusable="false"
                                data-prefix="fas" data-icon="university" role="img" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                  d="M496 128v16a8 8 0 0 1-8 8h-24v12c0 6.627-5.373 12-12 12H60c-6.627 0-12-5.373-12-12v-12H24a8 8 0 0 1-8-8v-16a8 8 0 0 1 4.941-7.392l232-88a7.996 7.996 0 0 1 6.118 0l232 88A8 8 0 0 1 496 128zm-24 304H40c-13.255 0-24 10.745-24 24v16a8 8 0 0 0 8 8h464a8 8 0 0 0 8-8v-16c0-13.255-10.745-24-24-24zM96 192v192H60c-6.627 0-12 5.373-12 12v20h416v-20c0-6.627-5.373-12-12-12h-36V192h-64v192h-64V192h-64v192h-64V192H96z">
                                </path>
                              </svg><!-- <i class="fas fa-university"></i> Font Awesome fontawesome.com -->
                              Etat Academique
                            </a>
                          </li>
                        </ul>
                      </b>
                    </div>

                    <div class="card-body">
                      <!-- Tab panes -->
                      <div class="tab-content">
                        <!-- Etat Civile-->
                        <!-- infos civile-->


                        <div class="row">
                          <div class="col-lg-8 offset-lg-2">
                            <form action="save_ingenieur.php" method="POST">
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label> Nom2<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" name="nom" required="required">
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>Prénom</label>
                                    <input class="form-control" type="text" name="prenom">
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>Username <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" name="username" required="required">
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>Email <span class="text-danger">*</span></label>
                                    <input class="form-control" type="email" name="email">
                                  </div>
                                </div>
                                <!--  <div class="col-sm-6">
                                           <div class="form-group">
                                               <label>Password</label>
                                               <input class="form-control" type="password" name="password" required="required">
                                           </div>
                                       </div>
                                       <div class="col-sm-6">
                                           <div class="form-group">
                                               <label>Confirm Password</label>
                                               <input class="form-control" type="password" name="check_password" required="required">
                                           </div>
                                       </div> -->
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>Date de Naissance</label>
                                    <div>
                                      <input type="date" class="form-control" name="date_aniv">
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group gender-select">
                                    <label class="gen-label">Gendre:</label>
                                    <div class="form-check-inline">
                                      <label class="form-check-label">
                                        <input type="radio" name="gender" value="M" class="form-check-input"
                                          required="required">Homme
                                      </label>
                                    </div>
                                    <div class="form-check-inline">
                                      <label class="form-check-label">
                                        <input type="radio" name="gender" value="F" class="form-check-input"
                                          required="">Femme
                                      </label>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-12">
                                  <div class="row">
                                    <div class="col-sm-12">
                                      <div class="form-group">
                                        <label>Adresse</label>
                                        <input type="text" class="form-control" name="adresse">
                                      </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                      <div class="form-group">
                                        <label>Pays</label>
                                        <select class="form-control" name="pays">
                                          <option value="Cameroun">Cameroun</option>
                                          <option value="USA">USA</option>
                                          <option value="United Kingdom">United Kingdom
                                          </option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                      <div class="form-group">
                                        <label>Ville</label>
                                        <input type="text" class="form-control" name="ville">
                                      </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                      <div class="form-group">
                                        <label>State/Province</label>
                                        <select class="form-control" name="region">
                                          <option value="California">California</option>
                                          <option value="Alaska">Alaska</option>
                                          <option value="Alabama">Alabama</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                      <div class="form-group">
                                        <label>Postal Code</label>
                                        <input type="text" class="form-control" name="code_postal">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>Phone </label>
                                    <input class="form-control" type="text" name="phone">
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>Avatar</label>
                                    <div class="profile-upload">
                                      <div class="upload-img">
                                        <img alt="" src="assetss/img/user.jpg">
                                      </div>
                                      <div class="upload-input">
                                        <input type="file" class="form-control" name="fichier">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <label>Short Biography</label>
                                <textarea class="form-control" rows="3" cols="30" name="biography"></textarea>
                              </div>
                              <div class="form-group">
                                <label class="display-block">Status</label>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="status" id="doctor_active"
                                    value="1" checked="">
                                  <label class="form-check-label" for="doctor_active">
                                    Active
                                  </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="status" id="doctor_inactive"
                                    value="2">
                                  <label class="form-check-label" for="doctor_inactive">
                                    Inactive
                                  </label>
                                </div>
                              </div>
                              <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn">Enregistrer</button>
                                <a href="liste_entreprise.php" style=" width:150px;" class="btn btn-danger">
                                  <font>Annuler</font>
                                </a>
                              </div>
                            </form>
                          </div>
                        </div>


                      </div>
                    </div>
                    <div class="card-footer">

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--                Etat professionnel-->
            <div class="tab-pane container" id="menu2">
              <div class="row">
                <div class="col-xl-12">
                  <div class="card mb-4">
                    <div class="card-header">
                      <b>

                        <!-- Nav pills -->
                        <ul class="nav nav-pills">

                          <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#menu2">
                              <svg class="svg-inline--fa fa-envelope fa-w-16" aria-hidden="true" focusable="false"
                                data-prefix="fas" data-icon="envelope" role="img" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                  d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z">
                                </path>
                              </svg><!-- <i class="fas fa-envelope"></i> Font Awesome fontawesome.com -->
                              Etat Professionnel
                            </a>
                          </li>
                        </ul>
                      </b>
                    </div>

                    <div class="card-body">
                      <!-- Tab panes -->
                      <div class="tab-content">
                        <!-- Etat Civile-->
                        <!-- infos civile-->


                        <div class="row">
                          <div class="col-lg-8 offset-lg-2">
                            <form action="save_ingenieur.php" method="POST">
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label> Nom2<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" name="nom" required="required">
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>Prénom</label>
                                    <input class="form-control" type="text" name="prenom">
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>Username <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" name="username" required="required">
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>Email <span class="text-danger">*</span></label>
                                    <input class="form-control" type="email" name="email">
                                  </div>
                                </div>
                                <!--  <div class="col-sm-6">
                                           <div class="form-group">
                                               <label>Password</label>
                                               <input class="form-control" type="password" name="password" required="required">
                                           </div>
                                       </div>
                                       <div class="col-sm-6">
                                           <div class="form-group">
                                               <label>Confirm Password</label>
                                               <input class="form-control" type="password" name="check_password" required="required">
                                           </div>
                                       </div> -->
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>Date de Naissance</label>
                                    <div>
                                      <input type="date" class="form-control" name="date_aniv">
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group gender-select">
                                    <label class="gen-label">Gendre:</label>
                                    <div class="form-check-inline">
                                      <label class="form-check-label">
                                        <input type="radio" name="gender" value="M" class="form-check-input"
                                          required="required">Homme
                                      </label>
                                    </div>
                                    <div class="form-check-inline">
                                      <label class="form-check-label">
                                        <input type="radio" name="gender" value="F" class="form-check-input"
                                          required="">Femme
                                      </label>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-12">
                                  <div class="row">
                                    <div class="col-sm-12">
                                      <div class="form-group">
                                        <label>Adresse</label>
                                        <input type="text" class="form-control" name="adresse">
                                      </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                      <div class="form-group">
                                        <label>Pays</label>
                                        <select class="form-control" name="pays">
                                          <option value="Cameroun">Cameroun</option>
                                          <option value="USA">USA</option>
                                          <option value="United Kingdom">United Kingdom
                                          </option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                      <div class="form-group">
                                        <label>Ville</label>
                                        <input type="text" class="form-control" name="ville">
                                      </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                      <div class="form-group">
                                        <label>State/Province</label>
                                        <select class="form-control" name="region">
                                          <option value="California">California</option>
                                          <option value="Alaska">Alaska</option>
                                          <option value="Alabama">Alabama</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                      <div class="form-group">
                                        <label>Postal Code</label>
                                        <input type="text" class="form-control" name="code_postal">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>Phone </label>
                                    <input class="form-control" type="text" name="phone">
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label>Avatar</label>
                                    <div class="profile-upload">
                                      <div class="upload-img">
                                        <img alt="" src="assetss/img/user.jpg">
                                      </div>
                                      <div class="upload-input">
                                        <input type="file" class="form-control" name="fichier">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <label>Short Biography</label>
                                <textarea class="form-control" rows="3" cols="30" name="biography"></textarea>
                              </div>
                              <div class="form-group">
                                <label class="display-block">Status</label>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="status" id="doctor_active"
                                    value="1" checked="">
                                  <label class="form-check-label" for="doctor_active">
                                    Active
                                  </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="status" id="doctor_inactive"
                                    value="2">
                                  <label class="form-check-label" for="doctor_inactive">
                                    Inactive
                                  </label>
                                </div>
                              </div>
                              <div class="m-t-20 text-center">
                                <button class="btn  submit-btn" style="background-color: #28a745; color: white;">Enregistrer</button>
                                <a href="liste_entreprise.php" style=" width:150px;" class="btn btn-danger">
                                  <font>Annuler</font>
                                </a>
                              </div>
                            </form>
                          </div>
                        </div>


                      </div>
                    </div>
                    <div class="card-footer">

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--                Main Body-->








          </div>
        </div>
        <div class="card-footer">

        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>

</div>
