
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- <h1 class="mt-4 ">Nouvelle Personne</h1> -->
    <ol class="breadcrumb mb-4 text-center ">
      <li class="breadcrumb-item active " style="background-color: lightblue; border-radius: 2px; margin: 2px; padding: 5px;">
        Hello M/Mme MONGO SALOMON, il {{ currentTime | date: 'HH:mm' }} en ce jour du {{ currentDay | date: 'EEEE, dd MMMM yyyy' }}.
      </li>

    </ol>
    <div class="row justify-content-center">
      <!-- Horizontal Form -->
      <div class="card card-info col-md-8">
        <!-- form start -->



        <div class="container mt-5">
          <div class="card">
            <div class="card-header">
              <h4>Créer un nouveau Postulant</h4>
            </div>
            <div class="card-body">
              <form [formGroup]="postulantForm" (ngSubmit)="onSubmit()">
                <div class="row mb-3">
                  <!-- firstname -->
                  <div class="col-md-6">
                    <span>Nom</span>
                    <input type="text" formControlName="firstname" class="form-control" />
                    <div *ngIf="postulantForm.controls['firstname'].invalid && postulantForm.controls['firstname'].touched" class="text-danger">
                      <small *ngIf="postulantForm.controls['firstname'].hasError('required')">Raison sociale est requise.</small>
                    </div>
                  </div>

                  <!-- Author -->
                  <div class="col-md-6">
                    <span>Auteur</span>
                    <input type="text" formControlName="author" class="form-control" />
                    <div *ngIf="postulantForm.controls['author'].invalid && postulantForm.controls['author'].touched" class="text-danger">
                      <small *ngIf="postulantForm.controls['author'].hasError('required')">Auteur est requis.</small>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <!-- Prénom -->
                  <div class="col-md-6">
                    <span>Prénom</span>
                    <input type="text" formControlName="lastname" class="form-control" />
                    <div *ngIf="postulantForm.controls['lastname'].invalid && postulantForm.controls['lastname'].touched" class="text-danger">
                      <small *ngIf="postulantForm.controls['lastname'].hasError('required')">Télélastname est requis.</small>
                    </div>
                  </div>

                  <!-- N° CNI ou Passport -->
                  <div class="col-md-6">
                    <span>N° CNI ou Passport</span>
                    <input type="id_card_number" formControlName="id_card_number" class="form-control" />
                    <div *ngIf="postulantForm.controls['id_card_number'].invalid && postulantForm.controls['id_card_number'].touched" class="text-danger">
                      <small *ngIf="postulantForm.controls['id_card_number'].hasError('id_card_number')">id_card_number invalide.</small>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <!-- Tel1 -->
                  <div class="col-md-6">
                    <span>Tel</span>
                    <input type="text" formControlName="phone" class="form-control" />
                    <div *ngIf="postulantForm.controls['phone'].invalid && postulantForm.controls['phone'].touched" class="text-danger">
                      <small *ngIf="postulantForm.controls['phone'].hasError('required')">Personne de contact est requise.</small>
                    </div>
                  </div>

                <!-- Date expiration cni -->
                <div class="col-md-6">
                  <span>Date d'expiration cni</span>
                  <input type="date" formControlName="date_card_validity" class="form-control" />
                  <div *ngIf="postulantForm.controls['date_card_validity'].invalid && postulantForm.controls['date_card_validity'].touched" class="text-danger">
                    <small *ngIf="postulantForm.controls['date_card_validity'].hasError('required')">Date D'expiration CNI est requise.</small>
                  </div>
                </div>

                </div>

                <div class="row mb-3">


                  <!-- City -->
                  <div class="col-md-6">
                    <span>Ville</span>
                    <select formControlName="city_id" class="form-control">
                      <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
                    </select>
                    <div *ngIf="postulantForm.controls['city_id'].invalid && postulantForm.controls['city_id'].touched" class="text-danger">
                      <small *ngIf="postulantForm.controls['city_id'].hasError('required')">Ville est requise.</small>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <span>Quartier</span>
                    <select formControlName="neighborhood" class="form-control">
                      <!-- <option *ngFor="let city of city" [value]="city.id">{{ city.name }}</option> -->
                    </select>
                    <div *ngIf="postulantForm.controls['neighborhood'].invalid && postulantForm.controls['neighborhood'].touched" class="text-danger">
                      <small *ngIf="postulantForm.controls['neighborhood'].hasError('required')">Quartier est requise.</small>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">


                  <!-- Email -->
                  <div class="col-md-6">
                    <span>Email</span>
                    <input type="text" formControlName="email" class="form-control" />
                    <div *ngIf="postulantForm.controls['email'].invalid && postulantForm.controls['email'].touched" class="text-danger">
                      <small *ngIf="postulantForm.controls['email'].hasError('required')">Télélastname de contact est requis.</small>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <span>Annnee</span>
                    <select formControlName="year" class="form-control">
                      <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
                    </select>
                    <div *ngIf="postulantForm.controls['city_id'].invalid && postulantForm.controls['city_id'].touched" class="text-danger">
                      <small *ngIf="postulantForm.controls['city_id'].hasError('required')">Ville est requise.</small>
                    </div>
                  </div>
                </div>


                <div class="row mb-3">
                  <!-- profession -->
                  <div class="col-md-6">
                    <span>Profession</span>
                    <input type="text" formControlName="profession" class="form-control" />
                    <div *ngIf="postulantForm.controls['profession'].invalid && postulantForm.controls['profession'].touched" class="text-danger">
                      <small *ngIf="postulantForm.controls['profession'].hasError('required')">Profession est requise.</small>
                    </div>
                  </div>
                   <!-- Nombre D'enfants -->
                   <div class="col-md-6">
                    <span>Nombre D'enfants</span>
                    <input type="text" formControlName="num_children" class="form-control" />

                  </div>
                  <div *ngIf="postulantForm.controls['child'].invalid && postulantForm.controls['child'].touched" class="text-danger">
                    <small *ngIf="postulantForm.controls['child'].hasError('required')">Raison sociale est requise.</small>
                   </div>
                </div>

                <div class="row mb-3">
                  <!-- Date de Naissance -->
                  <div class="col-md-6">
                    <span>Date de Naissance</span>
                    <input type="date" formControlName="birthday" class="form-control" />
                    <div *ngIf="postulantForm.controls['birthday'].invalid && postulantForm.controls['birthday'].touched" class="text-danger">
                      <small *ngIf="postulantForm.controls['birthday'].hasError('required')">Personne de contact est requise.</small>
                    </div>
                  </div>

                  <!-- Lieu de Naissance -->
                  <div class="col-md-6">
                    <span>Lieu de Naissance</span>
                    <input type="text" formControlName="place_birth" class="form-control" />
                    <div *ngIf="postulantForm.controls['place_birth'].invalid && postulantForm.controls['place_birth'].touched" class="text-danger">
                      <small *ngIf="postulantForm.controls['place_birth'].hasError('required')">Lieu de Naissance est requis.</small>
                    </div>
                  </div>
                </div>

                 <div class="row mb-3">
                  <!-- genre -->
                  <div class="col-md-6">
                    <span>Genre</span>
                    <select formControlName="genre" class="form-control">
                      <option value="N/A" selected="">
                        ...
                      </option>
                      <option value="MASCULIN">
                          MASCULIN
                      </option>
                      <option value="FEMININ">
                          FEMININ
                      </option>
                    </select>

                  </div>

                  <!-- marital_status -->
                  <div class="col-md-6">
                    <span>Situation Matrimoniale</span>
                    <select formControlName="marital_status" class="form-control">
                      <option value="N/A" selected="">
                        ...
                      </option>
                      <option value="CELIBATAIRE">
                          CELIBATAIRE
                      </option>
                      <option value="MARIÉ(E)">
                          MARIÉ(E)
                      </option>
                      <option value="VEUF(VE)">
                          VEUF(VE)
                      </option>
                    </select>
                    <div *ngIf="postulantForm.controls['city_id'].invalid && postulantForm.controls['city_id'].touched" class="text-danger">
                      <small *ngIf="postulantForm.controls['city_id'].hasError('required')">Ville est requise.</small>
                    </div>
                  </div>


                </div>

                <div class="row mb-3">
                  <!-- Submit Button -->
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-block">Créer le Postulant</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
      <!-- /.card -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<style>

</style>
