<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <h1 class="mt-4 ">Nouveau cachet</h1>
    <ol class="breadcrumb mb-4 text-center">
      <li class="breadcrumb-item active" style="background-color: lightblue; border-radius: 2px; margin: 2px; padding: 5px;">
        Hello M/Mme MONGO SALOMON, il {{ currentTime | date: 'HH:mm' }} en ce jour du {{ currentDay | date: 'EEEE, dd MMMM yyyy' }}.
      </li>
    </ol>
    <div class="row justify-content-center">
      <!-- Horizontal Form -->
      <div class="card card-info col-md-8">
        <!-- form start -->
        <div class="card">
          <div class="card-header">
            <h2>Nouveau cachet</h2>
          </div>
          <div class="card-body">
            <form [formGroup]="entrepriseForm" (ngSubmit)="onSubmit()">
              <div class="row">


                <div class="col-md-6">
                  <div class="form-group">
                    <label for="author">Auteur</label>
                    <input id="author" formControlName="author" class="form-control" type="text" />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="phone">Téléphone</label>
                    <input id="phone" formControlName="phone" class="form-control" type="text" />
                  </div>
                </div>
              </div>




              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="country_id">Membre</label>
                    <select id="country_id" formControlName="country_id" class="form-control">
                      <option *ngFor="let country of members" [value]="country.id">{{ country.name }}</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="city_id">Ville</label>
                    <select id="city_id" formControlName="city_id" class="form-control">
                      <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
                    </select>
                  </div>
                </div>
              </div>



              <div class="row">

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="name">Num recep</label>
                    <input id="name" formControlName="receipt_number" class="form-control" type="text" />
                  </div>
                </div>

                <div class="col-md-6">
                  <label for="name">Status</label>
                  <select id="status" formControlName="status" class="form-control" required>
                    <option value="" disabled selected>Choisir un statut</option>
                    <option *ngFor="let option of statusOptions" [value]="option.value">{{ option.label }}</option>
                  </select>
                </div>

                <div class="col-md-6">
                  <label for="name">Annee</label>
                  <input id="phone" formControlName="year" class="form-control" type="date" />

                </div>

              </div><br>

              <button type="submit" class="btn btn-primary">Mettre à jour</button>
            </form>
          </div>
        </div>

      </div>
      <!-- /.card -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<style>

</style>
