<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- <h1 class="mt-4 ">Nouvelle Personne</h1> -->
    <ol class="breadcrumb mb-4 text-center ">
      <li class="breadcrumb-item active " style="background-color: lightblue; border-radius: 2px; margin: 2px; padding: 5px;">
        Hello M/Mme MONGO SALOMON, il {{ currentTime | date: 'HH:mm' }} en ce jour du {{ currentDay | date: 'EEEE, dd MMMM yyyy' }}.
      </li>

    </ol>
    <div class="row justify-content-center">
      <!-- Horizontal Form -->
      <div class="card card-info col-md-8">
        <!-- form start -->



        <div class="container mt-5">
          <div class="card">
            <div class="card-header">
              <h4>Créer un nouveau Membre</h4>
            </div>
            <div class="card-body">
              <form [formGroup]="membreForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" >
                <div class="row mb-3">
                  <!-- firstname -->
                  <div class="col-md-6">
                    <span>Nom</span>
                    <input type="text" formControlName="firstname" class="form-control" />
                    <!-- <div *ngIf="membreForm.controls['firstname'].invalid && membreForm.controls['firstname'].touched" class="text-danger">
                      <small *ngIf="membreForm.controls['firstname'].hasError('required')">Raison sociale est requise.</small>
                    </div> -->
                  </div>

                  <!-- Author -->
                  <div class="col-md-6">
                    <span>Auteur</span>
                    <input type="text" formControlName="author" class="form-control" />
                    <!-- <div *ngIf="membreForm.controls['author'].invalid && membreForm.controls['author'].touched" class="text-danger">
                      <small *ngIf="membreForm.controls['author'].hasError('required')">Auteur est requis.</small>
                    </div> -->
                  </div>
                </div>

                <div class="row mb-3">
                  <!-- Prénom -->
                  <div class="col-md-6">
                    <span>Prénom</span>
                    <input type="text" formControlName="lastname" class="form-control" />
                    <!-- <div *ngIf="membreForm.controls['lastname'].invalid && membreForm.controls['lastname'].touched" class="text-danger">
                      <small *ngIf="membreForm.controls['lastname'].hasError('required')">Télélastname est requis.</small>
                    </div> -->
                  </div>


                </div>

                <div class="row mb-3">
                  <!-- Tel1 -->
                  <div class="col-md-6">
                    <span>Téléphone 1</span>
                    <input type="text" formControlName="phone" class="form-control" />
                    <!-- <div *ngIf="membreForm.controls['phone'].invalid && membreForm.controls['phone'].touched" class="text-danger">
                      <small *ngIf="membreForm.controls['phone'].hasError('required')">Personne de contact est requise.</small>
                    </div> -->
                  </div>

                   <!-- Tel -->
                   <div class="col-md-6">
                    <span>Téléphone 2</span>
                    <input type="text" formControlName="phone_2" class="form-control" />
                    <!-- <div *ngIf="membreForm.controls['phone_2'].invalid && membreForm.controls['phone_2'].touched" class="text-danger">
                      <small *ngIf="membreForm.controls['phone_2'].hasError('required')">Personne de contact est requise.</small>
                    </div> -->
                  </div>



                </div>

                <div class="row mb-3">

                   <!-- Matricule -->
                   <div class="col-md-6">
                    <span>Matricule</span>
                    <input type="text" formControlName="matricule" class="form-control" />
                    <!-- <div *ngIf="membreForm.controls['matricule'].invalid && membreForm.controls['matricule'].touched" class="text-danger">
                      <small *ngIf="membreForm.controls['matricule'].hasError('matricule')">matricule invalide.</small>
                    </div> -->
                  </div>

                  <!-- Email -->
                  <div class="col-md-6">
                    <span>Email</span>
                    <input type="email" formControlName="email" class="form-control" />
                    <!-- <div *ngIf="membreForm.controls['email'].invalid && membreForm.controls['email'].touched" class="text-danger">
                      <small *ngIf="membreForm.controls['email'].hasError('required')">Télélastname de contact est requis.</small>
                    </div> -->
                  </div>
                </div>

                <div class="row mb-3">


                  <!-- City -->
                  <div class="col-md-6">
                    <span>Pays</span>
                    <select formControlName="country_id" class="form-control">
                      <option *ngFor="let country of country" [value]="country.id">{{ country.name }}</option>
                    </select>
                    <!-- <div *ngIf="membreForm.controls['country_id'].invalid && membreForm.controls['country_id'].touched" class="text-danger">
                      <small *ngIf="membreForm.controls['country_id'].hasError('required')">Ville est requise.</small>
                    </div> -->
                  </div>

                  <div class="col-md-6">
                    <span>Ville</span>
                    <select formControlName="city_id" class="form-control">
                      <option *ngFor="let city of city" [value]="city.id">{{ city.name }}</option>
                    </select>
                    <!-- <div *ngIf="membreForm.controls['city_id'].invalid && membreForm.controls['city_id'].touched" class="text-danger">
                      <small *ngIf="membreForm.controls['city_id'].hasError('required')">Ville est requise.</small>
                    </div> -->
                  </div>
                </div>


                 <div class="row mb-3">

                  <div class="row mb-3">
                    <!-- Piece jointe -->
                    <div class="col-md-6">
                      <span>Pièce jointe</span>
                      <input type="file" accept=".pdf, .txt" (change)="onSelectDocument($event)" class="form-control"  />
                      <!-- formControlName="folder"  -->
                    </div>
                     <!--Nombre D'enfants -->

                      <div class="col-md-6">
                        <span>Photo</span>
                        <input type="file" accept=".pmg, .jpeg, .jpg"  (change)="onSelectImage($event)" class="form-control"  />
                        <!-- formControlName="picture" -->
                      </div>
                  </div>
                  </div>


                <div class="row mb-3">
                  <!-- Submit Button -->
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-block">Créer le membre</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
      <!-- /.card -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<style>

</style>
