.custom-icon {
  /* Couleur verte */
 font-size: 35px; /* Taille de l'icône, ajustez selon vos besoins */
 width: 1em;
 height: 1em;
}

/* bouton */
.small-icon {
  width: 17px;  /* Adjust the width */
  height: 17px;  /* Adjust the height */
}
a
{
  text-decoration: none;
  color: black;
}
.custom-iconbutton {
  /* Couleur verte */
 font-size: 10px; /* Taille de l'icône, ajustez selon vos besoins */
 width: 1em;
 height: 1em;
}
.custom-iconbuttonmenu {
  /* Couleur verte */
 font-size: 30px; /* Taille de l'icône, ajustez selon vos besoins */
 width: 1em;
 height: 1em;
}
