.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form-step {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}
.small-button {
  font-size: 15px;  /* Adjust the font size */
  padding: 5px 10px;  /* Adjust the padding */
  margin-right: 10px;  /* Add margin for spacing between buttons */
}

.small-icon {
  width: 17px;  /* Adjust the width */
  height: 17px;  /* Adjust the height */
}
