.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form-step {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}
.small-button {
  width: 17px;  /* Adjust the width */
  height: 17px;
  /* Add margin for spacing between buttons */
}

.small-icon {
  width: 35px;  /* Adjust the width */
  height: 35px;  /* Adjust the height */
}
a
{
  text-decoration: none;
  color: black;
}
.custom-iconbutton {
  /* Couleur verte */
 font-size: 10px; /* Taille de l'icône, ajustez selon vos besoins */
 width: 1em;
 height: 1em;
}
.custom-iconbuttonmenu {
  /* Couleur verte */
 font-size: 30px; /* Taille de l'icône, ajustez selon vos besoins */
 width: 1em;
 height: 1em;
}



table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}







